<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/KnapSack/src/com/edu/knapasack/greedy/GreedyKnapsack.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.edu.knapasack.greedy.GreedyKnapsack"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\bgh33493\Desktop\input.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="KnapSack"/>
</launchConfiguration>
