 <div class="container" ng-submit="lgCntrl.login()" ng-controller="LoginController as lgCntrl">
	
	<div style="align-item:center" >

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" 
        	placeholder="Email address" 
        	ng-model="lgCntrl.user.loginEmail"
        	required  
        	autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" 
        	class="form-control" 
        	placeholder="Password" 
        	required
        	ng-model="lgCntrl.user.loginPassword" >
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="lgCntrl.login()">Sign In</button>
      </form>
       <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="twittersignIn()">Sign In with Twitter </button>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="facebooksignIn()">Sign In with Facebook </button>
    </div>
</div> 
<!--
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Please sign in</h4>
    </div>
    <div class="modal-body">
      <div style="align-item:center" >

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="user.loginEmail"  autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="user.loginPassword" >
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign In</button>
         <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="twittersignIn()">Sign In with Twitter </button>
          <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="facebooksignIn()">Sign In with Facebook </button>
      </form>
    </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>-->
